.header-gradient {
    background: linear-gradient(243deg, rgb(64, 192, 235), rgb(138, 74, 227), #ffc62e);
    background-clip: text;
}

/* used for the pulsing arrow */

.fade-in {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.transform-scale-hover {
    transition: transform 200ms;
}

.transform-scale-hover:hover {
    transform: scale(1.2);
}

.transition-all-02 {
    transition: all 0.2s;
}

/* animation delay */

.animation-delay-300 {
    animation-delay: 300ms !important;
}

.animation-delay-600 {
    animation-delay: 600ms !important;
}

.animation-delay-800 {
    animation-delay: 800ms !important;
}

/**
 * ----------------------------------------
 * animation - fade
 * ----------------------------------------
 */

@keyframes fade-in-top {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in-top {
    animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

/**
 * ----------------------------------------
 * animation pulse-fwd
 * ----------------------------------------
 */

@-webkit-keyframes pulse-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.pulse-fwd {
    -webkit-animation: pulse-fwd 1.2s ease-in-out infinite both;
    animation: pulse-fwd 1.2s ease-in-out infinite both;
}