.aboutBox {
    @apply rounded-3xl mt-1 italic;
    width: 30rem;
    height: 15rem;
}

.pictureBox {
    @apply rounded-3xl mt-1;
    background: no-repeat url(../../assets/selfie.jpg);
    background-position: 50% 45%;
    background-size: 125%;
    width: 12rem;
    height: 12rem;
    filter: drop-shadow(1px 1px 5px #0e0e0e);
}